{% extends "base.html" %}

{% block content %}
<h2>ICOG: Internet Collection Of Games</h2>
<div class="game-gallery">
    {% for game in games %} <!-- Loads all the games in the database -->
    <div class="game-item"> <!-- Displays the game cover image and the corresponding game title and year of release -->
        <a href="{{ url_for('gameform', game_id=game['id']) }}"> <!-- URL generated to prevent path manipulation -->
            <img src="{{ url_for('static', filename='gcovers/' + game['image_path']) }}" alt="Game Cover Image">
        </a>
        <h4>{{ game['title'] }}</h4>
        <span>{{ game['year'] }}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}
